<launch>
<node
	pkg = "lg"
	type = "ConNode"
	name = "control node"
/>

<node
	pkg = "lg"
	type = "rangefinder"
	name = "rf1"
/>
<node
	pkg = "lg"
	type = "rangefinder"
	name = "rf2"
/>
<node
	pkg = "lg"
	type = "rangefinder"
	name = "rf3"
/>
<node
	pkg = "lg"
	type = "rangefinder"
	name = "rf4"
/>

<node
	pkg = "lg"
	type = "incCalc"
	name = "incline calculator"
/>

<node
	pkg = "lg"
	type = "comProc" 
	name = "command processor"
/>

<node
	pkg = "lg"
	type = " "
	name = "fault sense"
/>

<node
	pkg = "lg"
	type = " "
	name = "actuator"
/>
<node
	pkg = "lg"
	type = "actuator"
	name = "act1"
/>
<node
	pkg = "lg"
	type = "actuator"
	name = "act2"
/>
<node
	pkg = "lg"
	type = "actuator"
	name = "act3"
/>
<node
	pkg = "lg"
	type = "actuator"
	name = "act4"
/>

<node
	pkg = "lg"
	type = "serial"
	name = "serial"
/>
</launch>
